html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: 100vh;
}

#navbar {
  position: relative;
  z-index: 100;
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

#sidebar {
  position: absolute;
  display: block;
  width: 300px;
  max-width: 100%;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  z-index: 100;
  background: #f2f2f2;
}
